flows.json
[
    {
        "id": "e0abb51e287a5a58",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "62a5859836cd864e",
        "type": "ui_form",
        "z": "e0abb51e287a5a58",
        "name": "",
        "label": "",
        "group": "8b990bd9412c3f36",
        "order": 4,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Age",
                "value": "age",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Children",
                "value": "child",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "BMI",
                "value": "bmi",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "age": "",
            "child": "",
            "bmi": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 50,
        "y": 140,
        "wires": [
            [
                "b20d448ec9f89a4d"
            ]
        ]
    },
    {
        "id": "700ee8a161c397fe",
        "type": "ui_dropdown",
        "z": "e0abb51e287a5a58",
        "name": "",
        "label": "Select gender",
        "tooltip": "",
        "place": "Select option",
        "group": "8b990bd9412c3f36",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Male",
                "value": "male",
                "type": "str"
            },
            {
                "label": "Female",
                "value": "female",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 80,
        "y": 200,
        "wires": [
            [
                "43acdde977f332e8"
            ]
        ]
    },
    {
        "id": "ff0b304f0706b819",
        "type": "ui_dropdown",
        "z": "e0abb51e287a5a58",
        "name": "",
        "label": "Are you a smoker",
        "tooltip": "",
        "place": "Select option",
        "group": "8b990bd9412c3f36",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Yes",
                "value": "yes",
                "type": "str"
            },
            {
                "label": "No",
                "value": "no",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 90,
        "y": 260,
        "wires": [
            [
                "682cccdafd648f74"
            ]
        ]
    },
    {
        "id": "8cc9b34aa6320843",
        "type": "ui_dropdown",
        "z": "e0abb51e287a5a58",
        "name": "",
        "label": "Select region",
        "tooltip": "",
        "place": "Select option",
        "group": "8b990bd9412c3f36",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Northeast",
                "value": "northeast",
                "type": "str"
            },
            {
                "label": "Northwest",
                "value": "northwest",
                "type": "str"
            },
            {
                "label": "Southeast",
                "value": "southeast",
                "type": "str"
            },
            {
                "label": "Southwest",
                "value": "southwest",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 70,
        "y": 320,
        "wires": [
            [
                "b7b6d4efc6154ab6"
            ]
        ]
    },
    {
        "id": "f634aa4fd235718d",
        "type": "debug",
        "z": "e0abb51e287a5a58",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 140,
        "wires": []
    },
    {
        "id": "2843b217818d2359",
        "type": "debug",
        "z": "e0abb51e287a5a58",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 260,
        "wires": []
    },
    {
        "id": "a76cbfc22a4f36c1",
        "type": "debug",
        "z": "e0abb51e287a5a58",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 320,
        "wires": []
    },
    {
        "id": "c59fe67b275277de",
        "type": "debug",
        "z": "e0abb51e287a5a58",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 200,
        "wires": []
    },
    {
        "id": "b20d448ec9f89a4d",
        "type": "function",
        "z": "e0abb51e287a5a58",
        "name": "age,children,bmi",
        "func": "global.set(\"age\",msg.payload.age)\nglobal.set(\"children\",msg.payload.child)\nglobal.set(\"Bmi\",msg.payload.bmi)\nvar apikey=\"tcjguYM1BwIMH72uEuVzeU-4UDFU19r9L9DDHy0-tVEH\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 140,
        "wires": [
            [
                "f634aa4fd235718d",
                "cc44edf28d6ca59e"
            ]
        ]
    },
    {
        "id": "43acdde977f332e8",
        "type": "function",
        "z": "e0abb51e287a5a58",
        "name": "sex",
        "func": "global.set(\"sex\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 200,
        "wires": [
            [
                "c59fe67b275277de"
            ]
        ]
    },
    {
        "id": "682cccdafd648f74",
        "type": "function",
        "z": "e0abb51e287a5a58",
        "name": "smoker",
        "func": "global.set(\"smoker\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 260,
        "wires": [
            [
                "2843b217818d2359"
            ]
        ]
    },
    {
        "id": "b7b6d4efc6154ab6",
        "type": "function",
        "z": "e0abb51e287a5a58",
        "name": "region",
        "func": "global.set(\"region\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 320,
        "wires": [
            [
                "a76cbfc22a4f36c1"
            ]
        ]
    },
    {
        "id": "cc44edf28d6ca59e",
        "type": "http request",
        "z": "e0abb51e287a5a58",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://iam.cloud.ibm.com/identity/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 470,
        "y": 80,
        "wires": [
            [
                "010d244dda66b5a6",
                "ccad536147efc05c"
            ]
        ]
    },
    {
        "id": "010d244dda66b5a6",
        "type": "debug",
        "z": "e0abb51e287a5a58",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 120,
        "wires": []
    },
    {
        "id": "ccad536147efc05c",
        "type": "function",
        "z": "e0abb51e287a5a58",
        "name": "",
        "func": "var age = global.get(\"age\")\nvar sex = global.get(\"sex\")\nvar bmi = global.get(\"bmi\")\nvar children = global.get(\"children\")\nvar smoker = global.get(\"smoker\")\nvar region = global.get(\"region\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[\"age\",\"sex\",\"bmi\",\"children\",\"smoker\",\"region\"],\"values\":[[age,sex,bmi,children,smoker,region]]}]}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 40,
        "wires": [
            [
                "f3c00e6691bd0214"
            ]
        ]
    },
    {
        "id": "f3c00e6691bd0214",
        "type": "http request",
        "z": "e0abb51e287a5a58",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://us-south.ml.cloud.ibm.com/ml/v4/deployments/beadbe75-93e4-46bf-ad36-a8867861033c/predictions?version=2022-03-02",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 890,
        "y": 40,
        "wires": [
            [
                "90502a5a88aaacc5",
                "d3ddd2cb07c15830"
            ]
        ]
    },
    {
        "id": "90502a5a88aaacc5",
        "type": "debug",
        "z": "e0abb51e287a5a58",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 100,
        "wires": []
    },
    {
        "id": "d3ddd2cb07c15830",
        "type": "function",
        "z": "e0abb51e287a5a58",
        "name": "",
        "func": "msg.payload = msg.payload.predictions[0].values[0][0]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 40,
        "wires": [
            [
                "da6e631693f009f5",
                "80fde1203b3f4ef1"
            ]
        ]
    },
    {
        "id": "da6e631693f009f5",
        "type": "debug",
        "z": "e0abb51e287a5a58",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 100,
        "wires": []
    },
    {
        "id": "80fde1203b3f4ef1",
        "type": "ui_text",
        "z": "e0abb51e287a5a58",
        "group": "8b990bd9412c3f36",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "The premium will be",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1300,
        "y": 40,
        "wires": []
    },
    {
        "id": "8b990bd9412c3f36",
        "type": "ui_group",
        "name": "Details",
        "tab": "64da8119932803a0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "64da8119932803a0",
        "type": "ui_tab",
        "name": "Prediction_of_Health_Insurance",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]